:root {
    --color-background: #F0F0F7;
    --color-primary-light: #FFF;
    --color-primary: #536DFE;
    --color-primary-dark: #FFF;
    --color-secondary-light: #000;
    --color-secondary: #000;
    --color-secondary-dark: #000;
    --color-text: #333;
    --color-text-in-primary: #F0F0F7;
    --color-button-text: #F0F0F7;
    --color-border: #dcdce6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

body {
    background: var(--color-background);
}

#root {
    display: flex;
    justify-content: center;
}

body,
input,
button,
textarea {
    font: 500 1.6rem Poppins;
}

.container {
    width: 90vw;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

a: hover {
    background: #eee;
}

@media(min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}